@charset "UTF-8";

/*font-family:'Pangolin', cursive;*/

html{
    font-size: 100%;
}

body{
	max-width: 100%;
    font-family:'times new roman';
    line-height: 1.7;
    color: rgba(#432);
/*    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    */
}

.jb-box { width: 100%; height: 100vh; overflow: hidden;margin: 0px auto; position: relative; }
video { width: 100%; padding-left: 10%; padding-right: 10%;}
.jb-text { position: absolute; top: 50%; width: 100%; }
.jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }
.jb-text2 {  position: fixed; top: 1%; width: 100%; padding-left: 2%;}
.jb-text2 p { margin-top: 15px; margin-left: 7%; font-size: 40px; color: #ffffff; }
a { text-decoration:none}
nave{ position: fixed; }


img{
    max-width: 100%;
    margin-left: "20px";
}


a {
    text-decoration: none;
}


/* header */

.logo{
    width: 210px;
    margin-top: 14px;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li{
    margin-left: 60px;
}

.main-nav a{
    color: rgb(238, 219, 46)
}


.main-nav a:hover{
    color: #0bd
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 85%;
    margin: 0 auto;
    padding: 0 4%;
}



/* home */
.home-content{
    text-align: center;
    margin-top: 10%;
}
.home-content p{
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* title */
.page-title{
    font-size: 5rem;
    font-family: 'Philosopher' serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* button */
.button{
    font-size: 1.375rem;
    background: rgba(19, 19, 19, 0.334);
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover{
    background: #151515ae;
}


/*big bg img*/

.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home{
    background-image: url('../img/tour.jpg');
	min-height: 100vh;
}

#home .page-header{
    text-transform: none;
}

.container{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    gap: 20px;
    grid-template-rows: 30px;
}
.item{
    background-color: #fffefe73;
}

/*history*/
.history {
	background-color:#222;
	height:100px;
	margin-bottom: 40px;
    position: fixed;
}



/*news*/
#news {
	background-image: url(../img/guitar.png);
	height:10vh;
	margin-bottom: 40px;
}

#news .page-title{
	text-align: center;
}

footer{
    width: 100%;
    height: 100px;
    background: #222;
    }
footer p{
        line-height: 100px;
        color: #fff;
        text-align: center;
    }

/*기사*/
article{
	width: 74%;
}

article img{
    margin-bottom: 20px;
}

article p{
    margin-bottom: 1rem;
}

#size{
    max-width: 90%;
}

.news-contents{
	display: flex;
	justify-content: space-between;
	margin-bottom:50px;
}

.post-info{
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

.post-date{
    background: rgb(128, 128, 128);
    border-radius: 50%;
    color:#fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.post-date span{
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.post-title{

    font-size: 2rem;
    font-weight: normal;
}

.post-title,
.post-cat{
    margin-left: 120px;
}

aside{
	width: 22%;
}

aside p{
    padding: 12px 10px;
}

sub-title{
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-menu{
    margin-bottom: 60px;
    list-style: none;
}

.sub-menu li{
    border-bottom: 1px #ddd solid;
}

.sub-menu a{
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover{
    color: #0bd;
}

/*contact*/
form div{
    margin-bottom: 14px;
}

label{
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea{
    background-color: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

input[type="text"],
inpue[type="email"]{
    width: 100%;
    max-width: 240px;
}

textarea{
    width: 100%;
    max-width: 480px;
    height: 6rem;
}

input[type="submit"]{

    border: none;
    cursor: pointer;
    line-height: 1;
}

#contact{
    padding-left: 10px;
    padding-right: 10px;
    background-image: url(../img/guitar.png);
    min-height: 80vh;
}



/*img grid*/
#menu{
    background-image: url(../img/guitar.png);
    min-height: 100vh;
}

.menu-content{
    max-width: 500px;
    margin-top: 10%;
}

.menu-content .page-title{
    text-align: center;
}

.menu-content p{
    font-size: 1.125rem;
    margin:10px 0 0;
}

.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

.big-box{
    grid-column: 1/3;
    grid-row: 1/3;
}

.big-box img{
    height: 94%;
    width: 100%;
    object-fit: cover;
}

#top{
    position: fixed;
    bottom: 60px;
    right: 10%;
}

.btn-black{
    border-radius: 50%;
    color:#fff;
    text-decoration:none;
    background-color: #222;
    border: 1px solid #222;
    width: 35px;
    height: 35px;
}
